@theme {
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  --font-script: "Merriweather", ui-serif, Georgia, serif;
  --font-heading: "Merriweather", ui-serif, Georgia, serif;
  --font-serif: "Merriweather", ui-serif, Georgia, serif;
  --font-space: "Merriweather", ui-serif, Georgia, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}
