@theme {
  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: Merriweather, Georgia, serif;
  --font-serif: Merriweather, Georgia, serif;
  --font-space: Merriweather, Georgia, serif;
}
