@theme {
  --font-sans: "Raleway", ui-sans-serif, system-ui, sans-serif;
  --font-script: "Great Vibes", cursive;
  --font-heading: "Kaushan Script", cursive;
  --font-serif: "Kaushan Script", cursive;
  --font-space: "Kaushan Script", cursive;
  --font-mono: "Raleway", ui-sans-serif, system-ui, sans-serif;
}
